h1{
	text-align: center;	
	font-family: Arial, sans-serif;
}
.MyLogo{ 
  height: 115px;
  width: 200px;
  top: 100px;
  left: 30px;
  background: #fc645f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MyLogo:before{
	content: "";
	position: inherit;
	background: inherit;
	width: inherit;
	height: inherit;
	transform-origin: 50% 50%;
	transform: rotate(60deg);
}
.MyLogo:after{
	content: "";
	position: inherit;
	background: inherit;
	width: inherit;
	height: inherit;
	transform-origin: 50% 50%;
	transform: rotate(-60deg);
}